<div class="container1">
    <div class="row pdt36 mob_view1"></div>
    <div class="row pdt3 pdr0 ">
        <div class=" col-md-10 col-sm-12 pdr0 bg3 mtl10">
            <div class="row pdt0">
                <div class="offset-md-2 col-md-9 col-sm-12 pdt0 ">
                    <div class="row dashboard1 f_class2 pdt0 wd89">
                        <table class="bg1 table1">
                            <tr class="tr3 desktop">
                                <td class="td1">
                                    <h6 class="f_class3a count1">{{callCount?.Total_Calls}}+</h6>
                                    <!-- <p class="f_class4a count_type1"><span  >{{'welcome.patients' | translate}}</span></p> -->
                                    <span class="f_class4a count_type1">{{'welcome.patients' | translate}}</span>
                                </td>
                                <td class="td1">
                                    <h6 class="f_class3a count1">{{countObj?.TMC}}</h6>
                                    <!-- <p class="f_class4a count_type1" >{{'welcome.tmc' | translate}}</p> -->
                                    <span class="f_class4a count_type1">{{'welcome.tmc' | translate}}</span>
                                </td>
                                <td class="td1 ">
                                    <h6 class="f_class3a count1">{{countObj?.MI}}</h6>
                                    <!-- <p class="f_class4a count_type1">{{'welcome.mi' | translate}}</p> -->
                                    <span class="f_class4a count_type1">{{'welcome.mi' | translate}}</span>
                                </td>
                                <td class="td3">
                                    <h6 class="f_class3a count1">{{countObj?.RCC}}</h6>
                                    <!-- <p class="f_class4a count_type1">{{'welcome.rcc1' | translate}}</p> -->
                                    <span class="f_class4a count_type1">{{'welcome.rcc1' | translate}}</span>
                                </td>
                            </tr>
                            <tr class="mobile">
                                <td class="td1 td2">
                                    <h6 class="f_class3a count1">{{callCount?.Total_Calls}}+</h6>
                                    <!-- <p class="f_class4a count_type1">{{'welcome.patients' | translate}}</p> -->
                                    <span class="f_class4a count_type1">{{'welcome.patients' | translate}}</span>
                                </td>
                                <td class="td1">
                                    <h6 class="f_class3a count1">{{countObj?.TMC}}</h6>
                                    <!-- <p class="f_class4a count_type1">{{'welcome.tmc' | translate}}</p> -->
                                    <span class="f_class4a count_type1">{{'welcome.tmc' | translate}}</span>
                                </td>
                            </tr>
                            <tr class="tr3 mobile">
                                <td class="td1 td2">
                                    <h6 class="f_class3a count1">{{countObj?.MI}}</h6>
                                    <!-- <p class="f_class4a count_type1">{{'welcome.mi' | translate}}</p> -->
                                    <span class="f_class4a count_type1">{{'welcome.mi' | translate}}</span>
                                </td>
                                <td class="td3">
                                    <h6 class="f_class3a count1" style="padding-top:2px">{{countObj?.RCC}}</h6>
                                    <!-- <p class="f_class4a count_type1" style="padding-left:2px;"> {{'welcome.rcc1' |
                                        translate}}</p> -->
                                    <span class="f_class4a count_type1" style="padding-left:2px;"> {{'welcome.rcc1' |
                                        translate}}</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row bg2 text-right wd95  pdt10 col-sm-12 mobdiv3 mobdiv2">
                <div class="align_view wd28 mob_tog" [ngClass]="{'m_r': step === 1, 'm_l' : step === 2}">
                    <mat-button-toggle-group class="mat-card1 pdr-0 pdb-0 wd92" [value]="selectedVal" style="padding: 0px;">
                        <mat-button-toggle class="ff1 wd50" value="map" (change)="selectedView($event.value)">
                            {{'welcome.map_view' | translate}}
                        </mat-button-toggle>
                        <mat-button-toggle class="wd50" value="list" (change)="selectedView($event.value)">
                            {{'welcome.list_view' | translate}}
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div class="align_radio ht-48 bg4 mob_tog mob_tog mobdiv2 mobdiv5" [ngClass]="{'rb_r': step === 1, 'rb_l' : step === 2}">
                    <div class="mat-card1 bc1 bg4 pdt10 ht-45">
                        <mat-radio-group class="ht10 r_v" [(ngModel)]="orgType" aria-label="Select an option" style="background-color:white;" (change)="selectedType($event.value)">
                            <mat-radio-button value="TMC" class=""> {{'welcome.tmc' | translate}}</mat-radio-button>
                            <mat-radio-button value="MI" class="pdl-3 pdr-3">{{'welcome.mi' | translate}}
                            </mat-radio-button>
                            <mat-radio-button value="RCC"> {{'welcome.rcc1' | translate}}</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>

                <div class="align_select wd19 mob_tog mobdiv2">
                    <div class="text-center deskdiv1 mat-card1 bg4 mobdiv4" [hidden]="mapSelected || mrSelected" style="height:43px;margin-top: 5px;border-radius: none;padding-left:15px;">
                        <mat-select class="f_color5b desk_100 mob_80 text-left pdr10 pdr12" [ngClass]="{'drop1': step === 1}" placeholder="{{'welcome.select_state' | translate}}" (selectionChange)="selectedState($event.value)">
                            <mat-option *ngFor="let state of states" [value]="state.stateid">{{state.stateName | titlecase}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
    <div [hidden]="!mapSelected">
        <div class="row pdt0">
            <div *ngIf="orgType == 'TMC'" class="offset-md-3 col-md-6 col-sm-12 text-right pdt0" style="margin-top:-15px;">
                <app-map></app-map>
            </div>
        </div>
        <div class="row pdt0 ">
            <div *ngIf="orgType == 'MI'" class="offset-md-3 col-md-6 col-sm-12 text-right pdt0" style="margin-top:-15px;">
                <app-map1></app-map1>
            </div>
        </div>
        <div class="row pdt0 ">
            <div *ngIf="orgType == 'RCC'" class=" offset-md-3 col-md-6 col-sm-12 text-right pdt0" style="margin-top:-15px;">
                <app-map2></app-map2>
            </div>
        </div>
    </div>
    <div class="row desktop_view mob_view2" [hidden]="mapSelected">
        <div class="desktop1 col-sm-12  d-h4 ">
            <div class="mat-elevation-z8 mobdiv1 mat-card1">
                <table mat-table [dataSource]="dataSource" class="mattable1 wd100">
                    <ng-container matColumnDef="tmcName">
                        <th mat-header-cell *matHeaderCellDef class="th1 th2 wd54">
                            <!-- <b>{{this.headerName}}</b> -->
                            <b *ngIf="tmcSelected">{{'welcome.th1_tmc' | translate}}</b>
                            <b *ngIf="miSelected">{{'welcome.th1_mi' | translate}}</b>
                            <b *ngIf="rccSelected">{{'welcome.th1_rcc' | translate}}</b>
                        </th>
                        <td mat-cell *matCellDef="let emp" class="c1 c2 pdr-40">
                            <span *ngIf="tmcSelected">{{emp.tmcName}}</span>
                            <span *ngIf="miSelected">{{emp.mentoringInstitute}}</span> 
                            <span *ngIf="rccSelected">{{emp.rcc}}</span> 
                         </td>
                    </ng-container>
                    <ng-container matColumnDef="city">
                        <th mat-header-cell *matHeaderCellDef class="th1 c3 wd20" style="padding-left: 20px;"> <img class="p2" /><b>{{'welcome.th2' | translate}}</b></th>
                        <td mat-cell *matCellDef="let emp" class="c1 pdr1"> {{emp.city}} </td>
                    </ng-container>
                    <ng-container matColumnDef="state">
                        <th mat-header-cell *matHeaderCellDef class="th1  c3 wd26"><b>{{'welcome.th3' |
                                translate}}</b></th>
                        <td mat-cell *matCellDef="let emp" class="c1 pdl1"> {{emp.state | titlecase}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="['tmcName','city','state']" class="tr1">
                    </tr>
                    <tr mat-header-row *matRowDef="let row; columns: displayedColumns;" class="tr2"></tr>
                </table>
                <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 15, 20, dataSource.data.length]" class="c_black">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>