<div class="container mt-3" style="margin-bottom: 2rem;">
    <nav class="">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/#/home">{{'teleheader.home' | translate}}</a></li>
            <mat-icon>chevron_right</mat-icon>
            <li class="breadcrumb-item"><strong>{{'teleheader.contactUs' | translate }}</strong></li>
        </ol>
    </nav>
    <hr class="headerhrline">
    <div class="card-container">
        <a class="card" target="_blank">
            <img class="imagesize" src="assets/img/ContactUs/image1.png" alt="Contact Details for NIMHANS">
        </a>
        <a class="card" target="_blank">
            <img class="imagesize" src="assets/img/ContactUs/image2.png" alt="Contact Details for National Health System Resource Centre">
        </a>
        <a class="card" target="_blank">
            <img class="imagesize" src="assets/img/ContactUs/image3.png" alt="Contact Details for IIITB">
        </a>
        <a class="card" target="_blank">
            <img class="imagesize" src="assets/img/ContactUs/image4.png" alt="Contact Details for National Health System Resource Centre">
        </a>
    </div>
    <div class="col-12 mt-3 text-center mobbtn">
        <p routerLink="/home" class="btn1">{{'Common.GoBack' | translate }}</p>
    </div>
</div>