<!-- Mob View -->
<div class="page-section">
    <div id="tooplate_main">
        <div id="content">
            <div class="scrollContainer">
                <div class="panelhome" id="homea">
                    <p class="fontS mobtextaboutus">{{'aboutUs.AboutText1' | translate}}</p>
                    <br>
                    <p class="fontS">{{'aboutUs.AboutText2' | translate}}</p>
                    <p class="HeadingContent" style="color: black;">{{'aboutUs.HowitWorks' | translate}}</p>
                    <p class="HeadingContent" style="color: rgba(0, 0, 0, 0.6);">
                        {{'aboutUs.TeleMANASCallingMechanism' | translate}}</p>
                    <div class="text-center" style="display: inline-block; justify-content: center;
                    width: 100%;">
                        <img class="headingimg" src="assets/img/AboutUs/flowchart.png" alt="TeleMANAS Calling Mechanism" />
                        <!-- <img class="headingimgmob" src="assets/img/AboutUs/aboutImgMob1.svg" alt="TeleMANAS Calling Mechanism" /> -->
                    </div>
                    <ul class="a">
                        <li class="fontS">{{'aboutUs.AboutBullet1' | translate}}</li>
                        <hr class="hrdash">
                        <li class="fontS">{{'aboutUs.AboutBullet2' | translate}}</li>
                        <hr class="hrdash">
                        <li class="fontS">{{'aboutUs.AboutBullet3' | translate}}</li>
                        <hr class="hrdash">
                        <li class="fontS">{{'aboutUs.AboutBullet4' | translate}}</li>
                    </ul>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>