
 <!-- <mat-card  class="d-h3 text-center ht68 br10 wd88 ml10 desktop">
   
  <mat-button-toggle-group [value]="type" style="margin-top:-5px;margin-right: 10px;">
    <mat-button-toggle style="line-height:0px"  value="TMC" (change)="selectedType('TMC')">
     {{'welcome.tmc' | translate}}
    </mat-button-toggle>
    <mat-button-toggle  style="line-height:0px"  value="MI" (change)="selectedType('MI')">
      {{'welcome.mi' | translate}}
     </mat-button-toggle>
    <mat-button-toggle style="line-height:0px"  value="RCC" (change)="selectedType('RCC')">
      {{'welcome.rcc' | translate}}
    </mat-button-toggle>
  </mat-button-toggle-group>

</mat-card> -->

<mat-card  class="d-h3 text-center ht68 br10 wd90 mt10 mobile" style="margin-top:10px">
   
  <mat-button-toggle-group [value]="type" style="margin-top:-5px;margin-right: 10px;">
    <mat-button-toggle style="line-height:0px"  value="TMC" (change)="selectedType('TMC')">
     {{'welcome.tmc' | translate}}
    </mat-button-toggle>
    <mat-button-toggle  style="line-height:0px"  value="MI" (change)="selectedType('MI')">
      {{'welcome.mi' | translate}}
     </mat-button-toggle>
    <mat-button-toggle style="line-height:0px"  value="RCC" (change)="selectedType('RCC')">
      {{'welcome.rcc' | translate}}
    </mat-button-toggle>
  </mat-button-toggle-group>

</mat-card>
<div class="row div1">
  <!-- <div class="col-md-8"> -->
      <!-- </div> -->
  <!-- <div  class="col-md-4"> -->
   
<!-- </div> -->
<app-map-info [mapService]="districtService"></app-map-info>



</div>

