<div class="desktop_view" style="margin-top: 80px;">
    <div class="backgrounds">
        <div class="container-fluid">
            <table class="homepage" >
                <tbody>
                    <tr class="desktop_view" >
                        <td>
                            <img src={{statelogo_web}} width="250px" />
                            <div class="topnav-right">
                                <a target="_blank" class="nav-links purple_text" href="{{baseUrl + '/#/about'}}">About Telemanas</a>
                                <a target="_blank" class="nav-links purple_text" href="{{baseUrl + '/#/links'}}">Useful Links</a>
                                <a target="_blank" class="nav-links purple_text" href="{{baseUrl + '/#/downloads'}}">Downloads</a>
                                <a target="_blank" class="nav-links purple_text" routerLink="faq">FAQs</a>
                                <a target="_blank" class="nav-links purple_text" href="{{baseUrl + '/#/contactUs'}}">Contact us</a>
                                <a target="_blank" class="nav-links purple_text" routerLink="/adminLogin">Admin Login</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="desktop_view w-50">
                            <p class="p_text w-4x mt-1">Tele MANAS is a platform for supporting 24x7 tele-mental health facilities across the States and UTs of the country. The platform shall facilitate teleconsultations based on the protocols centrally defined and administered by NIMHANS experts with in-built mechanisms for ensuring privacy and confidentiality of identity of callers, along with appropriate provisions for security of platform and data, high availability, compatibility with Ayushman Bharat Digital Mission framework, integration with the unique health id and the digital healthcare ecosystem. With regards to linkage to ABDM, ABHA ID would be created for those who need medical consultation. We would also develop a facility register.
                                </p>
                        </td>
                        <td class="w-50">
                            <div class="row justify-content-md-center mt-x">
                                <div class="col-lg-7 col-md-12 col-12">
                                    <div class="text-center">
                                        <div class="common_headings text-center"><b>Telemanas Portal</b></div>
                                        <!-- <div class="common_text f-14">Mental Health Professionals and Mental Health Establishments can register themselves and also enlist Outpatient Clinics into e-Manas {{'state.name' | translate }}</div> -->
                                    </div>
                                    <div class="mt-4">
                                        <div *ngIf="step1">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Select Role</mat-label>
                                                <mat-select [(ngModel)]="role" placeholder="Select Role">
                                                    <mat-option value="mheRoute">Telemanas Admin</mat-option>
                                                    <mat-option value="mhpRoute">Telemanas MHP</mat-option>
                                                    <mat-option value="OPRoute">Telemanas Outpatient Clinic</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field appearance="outline">
                                                <mat-label>Enter your User ID</mat-label>
                                                <mat-icon matPrefix>person</mat-icon>
                                                <input [(ngModel)]="email" usernameOnly matInput placeholder="Username" minlength="6" maxlength="20" autocomplete="off" />
                                            </mat-form-field>
                                            <div class="text-right mt--1">
                                                <span class="text-primary common_text">
                                                <a (click)="forgotUser()">Forgot Username / Password?</a>
                                            </span>
                                            </div>
                                            <div class="text-center mt-4">
                                                <button mat-raised-button class="btn" (click)="next()">Continue</button>
                                            </div>
                                        </div>
                                        <div *ngIf="!step1">
                                            <span class="d-inline-block">
                                            <a (click)="back()">
                                                <mat-icon class="">arrow_back</mat-icon>
                                            </a>
                                        </span>
                                            <span class="d-inline-block middlev">
                                            <div class="common_text text-center mt--1"><b>Welcome {{email}}</b></div>
                                        </span>
                                            <mat-form-field appearance="outline">
                                                <mat-label>Enter your Password</mat-label>
                                                <mat-icon matPrefix>lock_open</mat-icon>
                                                <input passwordOnly [(ngModel)]="password" matInput placeholder="Password" [type]="hide ? 'password' : 'text'" autocomplete="off" />
                                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            </mat-form-field>

                                            <span class="d-inline-block w-2 mr-2">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Enter Captcha</mat-label>
                                                <input [(ngModel)]="captcha" alphaNumOnly minlength="6" maxlength="6" type="text" matInput placeholder="Captcha" autocomplete="off" />
                                            </mat-form-field>
                                        </span>
                                            <span class="d-inline-block mr-2">
                                            <img [src]="captchaImage" class="captcha-field mb-3" style="vertical-align: middle;" />
                                        </span>

                                            <span class="d-inline-block">
                                            <a (click)="loadCaptcha()" matTooltip="Reload Captcha">
                                                <mat-icon class="">sync</mat-icon>
                                            </a>
                                        </span>

                                            <div class="text-right mt--1">
                                                <span class="text-primary">
                                                <a (click)="forgotUser()">Forgot Username / Password?</a>
                                            </span>
                                            </div>
                                            <div class="mt-4 text-center">
                                                <button mat-raised-button class="btn" (click)="loginForm()">Login</button>
                                            </div>
                                        </div>
                                        <!-- <div class="text-center common_text mt-4">Not Registered? <a class="text-primary" (click)="create_account()">Create Account</a></div> -->
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="footer-container">
                <div class="footer">
                    <img src={{footerImage}} class="f-img1" />
                </div>
                <div class="footer-text">
                    <p class="f-12">
                        Version: {{version}}<br /> Site best viewed at 1366 x 768 resolution in <br /> Mozilla 40+, Google Chrome 50+
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="backgroundsMob" style="margin-top: 80px;">
    <div class="jumbotron">
        <div>
            <!-- <img style="vertical-align: middle;" width="240px" src={{statelogo_mbl}} /> -->
            <span class="nav_btn" (click)="openNav()">&#9776;</span>
        </div>
        <div id="mySidenav" class="sidenav">
            <a class="closebtn" (click)="closeNav()">&times;</a>
            <div class="mt-4">
               
                <a target="_blank" href="{{baseUrl + '/#/about'}}">About Telemanas</a>
                <a target="_blank" href="{{baseUrl + '/#/links'}}">Useful Links</a>
                <a target="_blank" href="{{baseUrl + '/#/downloads'}}">Downloads</a>
                <a target="_blank" routerLink="faq">FAQs</a>
                <a target="_blank" href="{{baseUrl + '/#/contactUs'}}">Contact Us</a>
            </div>
        </div>
    </div>

    <div class="topnav"></div>

    <div class="container-fluid">
        <table class="homepage">
            <tbody>
                <tr class="desktop_view">
                    <td>
                        <img src={{statelogo_web}} width="250px" />
                        <div class="topnav-right">
                            <li>
                                <a [matMenuTriggerFor]="state">
                                    <!-- <mat-icon class="sidebar_icon1">State</mat-icon> -->
                                    State
                                    <mat-icon class="arrow_down">keyboard_arrow_down</mat-icon>
                                </a>
                                <mat-menu #state="matMenu" yPosition="below" class="menu_container_0 printform">
                                    <a (click)="selectState('Karnataka')" mat-menu-item>Karnataka</a>
                                    <a (click)="selectState('Maharashtra')" mat-menu-item>Maharashtra</a>
                                </mat-menu>
                            </li>
                            <a target="_blank" class="nav-links purple_text" href="{{baseUrl + '/#/about'}}">About e-Manas</a>
                            <a target="_blank" class="nav-links purple_text" href="{{baseUrl + '/#/links'}}">Useful Links</a>
                            <a target="_blank" class="nav-links purple_text" href="{{baseUrl + '/#/downloads'}}">Downloads</a>
                            <a target="_blank" class="nav-links purple_text" routerLink="faq">FAQs</a>
                            <a target="_blank" class="nav-links purple_text" href="{{baseUrl + '/#/contactUs'}}">Contact us</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="desktop_view w-50">
                        <p class="p_text w-4x mt-1">Tele MANAS is a platform for supporting 24x7 tele-mental health facilities across the States and UTs of the country. The platform shall facilitate teleconsultations based on the protocols centrally defined and administered by NIMHANS experts with in-built mechanisms for ensuring privacy and confidentiality of identity of callers, along with appropriate provisions for security of platform and data, high availability, compatibility with Ayushman Bharat Digital Mission framework, integration with the unique health id and the digital healthcare ecosystem. With regards to linkage to ABDM, ABHA ID would be created for those who need medical consultation.</p>
                    </td>
                    <td class="w-50">
                        <div class="row justify-content-md-center mt-x">
                            <div class="col-lg-7 col-md-12 col-12">
                                <div class="text-center">
                                    <div class="common_headings text-center"><b>Telemanas</b></div>
                                    <!-- <div class="common_text f-14">Mental Health Professionals and Mental Health Establishments can register themselves and also enlist Outpatient Clinics into e-Manas {{'state.name' | translate }}</div> -->
                                </div>
                                <div class="mt-4">
                                    <div *ngIf="step1">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Select Role</mat-label>
                                            <mat-select [(ngModel)]="role" placeholder="Select Role">
                                                <mat-option value="mheRoute">Mental Health Establishment</mat-option>
                                                <mat-option value="mhpRoute">Mental Health Professional</mat-option>
                                                <mat-option value="OPRoute">Outpatient Clinic</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Enter your User ID</mat-label>
                                            <mat-icon matPrefix>person</mat-icon>
                                            <input [(ngModel)]="email" usernameOnly matInput placeholder="Username" minlength="6" maxlength="20" autocomplete="off" />
                                        </mat-form-field>
                                        <div class="text-right mt--1">
                                            <span class="text-primary common_text">
                                                    <a (click)="forgotUser()">Forgot Username / Password?</a>
                                                </span>
                                        </div>
                                        <div class="text-center mt-4">
                                            <button mat-raised-button class="btn" (click)="next()">Continue</button>
                                        </div>
                                    </div>
                                    <div *ngIf="!step1">
                                        <span class="d-inline-block">
                                                <a (click)="back()">
                                                    <mat-icon class="">arrow_back</mat-icon>
                                                </a>
                                            </span>
                                        <span class="d-inline-block middlev">
                                                <div class="common_text text-center mt--1"><b>Welcome {{email}}</b></div>
                                            </span>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Enter your Password</mat-label>
                                            <mat-icon matPrefix>lock_open</mat-icon>
                                            <input passwordOnly [(ngModel)]="password" matInput placeholder="Password" [type]="hide ? 'password' : 'text'" autocomplete="off" />
                                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </mat-form-field>

                                        <span class="d-inline-block w-2 mr-2">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Enter Captcha</mat-label>
                                                    <input [(ngModel)]="captcha" alphaNumOnly minlength="6" maxlength="6" type="text" matInput placeholder="Captcha" autocomplete="off" />
                                                </mat-form-field>
                                            </span>
                                        <span class="d-inline-block mr-2">
                                                <img [src]="captchaImage" class="captcha-field mb-3" style="vertical-align: middle;" />
                                            </span>

                                        <span class="d-inline-block">
                                                <a (click)="loadCaptcha()" matTooltip="Reload Captcha">
                                                    <mat-icon class="">sync</mat-icon>
                                                </a>
                                            </span>

                                        <div class="text-right mt--1">
                                            <!-- <span class="text-primary">
                                                    <a (click)="forgotUser()">Forgot Username / Password?</a>
                                                </span> -->
                                        </div>
                                        <div class="mt-4 text-center">
                                            <button mat-raised-button class="btn" (click)="loginForm()">Login</button>
                                        </div>
                                    </div>
                                    <div class="text-center common_text mt-4">Not Registered? <a class="text-primary" (click)="create_account()">Create Account</a></div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="footer-container">
            <div class="footer">
                <img src={{footerImage}} class="f-img1" />
            </div>
            <div class="footer-text">
                <p class="f-12">
                    Version: {{version}}<br /> Site best viewed at 1366 x 768 resolution in <br /> Mozilla 40+, Google Chrome 50+
                </p>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>