<div class="container mt-3">
    <nav class="">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/#/home">{{'teleheader.home' | translate }}</a> </li>
            <mat-icon>chevron_right</mat-icon>
            <li class="breadcrumb-item">{{'teleheader.Resources' | translate }}</li>
            <mat-icon>chevron_right</mat-icon>
            <li class="breadcrumb-item"><strong>{{'teleheader.UsefulLinks' | translate }}</strong></li>
        </ol>
    </nav>
    <hr class="headerhrline">
    <div class="row content">
        <div class="col-md-4" style="padding-left: 30px;">
            <img src="assets/img/header/headerlog.svg" height="50" alt="Ministry of Health and Family Welfare">
        </div>
        <div class="col-md-8 mobuse">
            <u><a style="color:#000; margin-top: 20px;" target="_blank"
                    href="https://main.mohfw.gov.in/">https://main.mohfw. <br>gov.in/</a></u>
        </div>
    </div>
    <hr style="height: .04em; border:none;color:#808080;background-color:#808080;">
    <div class="row">
        <div class="col-md-4 img3" style="padding-left: 30px;">
            <img src="assets/img/header/nhmlogo.svg" height="50" alt="National Health Mission">
        </div>
        <div class="col-md-8 mobuse">
            <u><a style="color:#000; margin-top: 20px;" target="_blank"
                    href="https://nhm.gov.in/">https://nhm.gov.in/</a></u>
        </div>
    </div>
    <hr style="height: .04em; border:none;color:#808080;background-color:#808080;">
    <div class="row">
        <div class="col-md-4 img4" style="padding-left: 30px;">
            <h6 style="padding-top: 15px;"><strong>Mental Healthcare <br> Act, 2017</strong></h6>
        </div>
        <div class="col-md-8 mobuse1">
            <u><a style="color:#000; margin-top: 20px;" target="_blank"
                    href="https://main.mohfw.gov.in/sites/default/files/Final%20Draft%20Rules%20MHC%20Act%2C%202017%20%281%29.pdf">Download PDF</a></u>
        </div>
    </div>
    <hr style="height: .04em; border:none;color:#808080;background-color:#808080;">
    <div class="col-12 mt-3 text-center mobbtn">
        <p routerLink="/home" class="btn1">{{'Common.GoBack' | translate }}</p>
    </div>
</div>