<marquee style="margin-top: 20px;" behavior="alternate" scrollamount="18" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
    <div class="rowmarque mt-3">
        <img class="marqueImag" src="assets/img/stateLogos/UPlogo.svg" alt="Uttar Pradesh State Logo">
        <img class="marqueImag" src="assets/img/stateLogos/Karnatakalogo.svg" alt="Karnataka State Logo">
        <img class="marqueImag" src="assets/img/stateLogos/JKlogo.svg" alt="Jammu & Kashmir State Logo">
        <img class="marqueImag" src="assets/img/stateLogos/keralalogo.svg" alt="Kerala State Logo">
        <img class="marqueImag" src="assets/img/stateLogos/MPlogo.svg" alt="Madhya Pradesh State Logo">
        <img class="marqueImag" src="assets/img/stateLogos/ANlogo.svg" alt="Andaman & Nicobar State Logo">
        <img class="marqueImag" src="assets/img/stateLogos/APlogo.svg" alt="Andra Pradesh State Logo">
        <img class="marqueImag" src="assets/img/stateLogos/Chhattisgarhlogo.svg" alt="Chhattisgarh Logo">
        <img class="marqueImag" src="assets/img/stateLogos/HPlogo.svg" alt="Himachal Pradesh State Logo">
        <img class="marqueImag" src="assets/img/stateLogos/Tamilnadulogo.svg" alt="Tamilnadu Logo">
        <img class="marqueImag" src="assets/img/stateLogos/Orissalogo.svg" alt="Orissa Logo">
        <img class="marqueImag" src="assets/img/stateLogos/Punjablogo.svg" alt="Punjab State Logo">
        <img class="marqueImag" src="assets/img/stateLogos/Telanganalogo.svg" alt="Telangana State Logo">
        <img class="marqueImag" src="assets/img/stateLogos/WBengallogo.svg" alt="West Bengal State Logo">
        <img class="marqueImag" src="assets/img/stateLogos/Gujratlogo.svg" alt="Gujrat State Logo">
        <img class="marqueImag" src="assets/img/stateLogos/Rajasthanlogo.svg" alt="Rajasthan State Logo">
        <img class="marqueImag" src="assets/img/stateLogos/Assamlogo.svg" height="90" alt="Assam State Logo">
        <img class="marqueImag" src="assets/img/stateLogos/Maharashtralogo.svg" alt="Maharashtra State Logo">
    </div>
</marquee>

<div class="row mt-3">
    <div class="page-footer text-center">
        <div style="padding-top: 30px;" class="row px-md-3">
            <div style="width:14%"></div>
            <div style="width:24%">
                <a href="https://nimhans.ac.in/" target="_blank">
                    <img src="assets/img/Footer/NIMHANSlogo.png" height="100" alt="National institute of Mental Health and Neauro Science">
                </a>
                <br>
                <p class="footertext fontS mt-2"><strong>{{'homepage.NationalInstituteMentalHealth' | translate
                        }}</strong> <br> <strong> {{'homepage.andNeurosciences' | translate }}</strong> <br> {{'homepage.ApexCenter' | translate }}</p>
            </div>
            <div style="width:24%">
                <a href="https://nhsrcindia.org/" target="_blank">
                    <img src="assets/img/Footer/NHSRCLogo.svg" height="100" alt="National Health System Resource Centre">
                </a>
                <br>
                <p class="footertext fontS mt-2"><strong>{{'homepage.nhsr' | translate
                        }}</strong> <br> <strong> {{'homepage.centerNHSRC' | translate }}</strong> <br> {{'homepage.healthsystem' | translate }}</p>
            </div>
            <div style="width:24%">
                <a href="https://www.iiitb.ac.in/" target="_blank">
                    <img src="assets/img/Footer/iiitb_logo.svg" height="100" alt="International Institue of information Techmology">
                </a>
                <br>
                <p class="fontS mt-2"><strong>{{'homepage.InternationalInstitute' | translate }}</strong> <br>
                    <strong>{{'homepage.InformationTechnologyBangalore' | translate }}</strong>
                    <br>{{'homepage.TechnologyPartner' | translate }}
                </p>
            </div>
            <div style="width:14%"></div>
        </div>
        <hr class="footerhr">
        <div class="row  px-md-3" style="margin-top: -10px;">
            <div class="col-md-12">
                <p style="margin-top: -2px;" class="text-center deskfootertext">{{'homepage.Websiteupdated' | translate }}: {{text | date: "dd/MM/yyyy"}} | {{'homepage.footerContent' | translate }}</p>
            </div>
            <hr class="hrline" style=" margin-top: -10px;">
            <div class="col-md-12">
                <p style="margin-top: -5px;" class="text-center deskfootertext">{{'homepage.footerContentTwo' | translate }}</p>
            </div>
        </div>
    </div>

    <!-- Mob view -->
    <div class="mobpage-footer text-center">
        <div style="padding-top: 40px; padding-left: 40px;" class="row px-md-3">
            <div style="width:31%;">
                <a href="https://nimhans.ac.in/" target="_blank">
                    <img src="assets/img/Footer/NIMHANSlogo.png" width="70" height="70" alt="National institute of Mental Health and Neauro Science">
                </a>
                <br>
                <p class="footertext moblogofootertext fontS mt-2"><strong>{{'homepage.NationalInstituteMentalHealth' |
                        translate
                        }}</strong> <br> <strong> {{'homepage.andNeurosciences' | translate }}</strong> <br> {{'homepage.ApexCenter' | translate }}</p>
            </div>
            <div style="width:3%"></div>
            <div style="width:31%">
                <a href="https://nhsrcindia.org/" target="_blank">
                    <img src="assets/img/Footer/NHSRCLogo.svg" height="70" width="70" alt="National Health System Resource Centre">
                </a>
                <br>
                <p class="footertext moblogofootertext fontS mt-2"><strong>{{'homepage.nhsr' | translate
                        }}</strong> <br> <strong> {{'homepage.centerNHSRC' | translate }}</strong> <br> {{'homepage.healthsystem' | translate }}</p>
            </div>
            <div style="width:35%">
                <a href="https://www.iiitb.ac.in/" target="_blank">
                    <img src="assets/img/Footer/iiitb_logo.svg" width="70" height="70" alt="International Institue of information Techmology">
                </a>
                <br>
                <p class="moblogofootertext fontS mt-2"><strong>{{'homepage.InternationalInstitute' | translate
                        }}</strong> <br>
                    <strong>{{'homepage.InformationTechnologyBangalore' | translate }}</strong>
                    <br>{{'homepage.TechnologyPartner' | translate }}
                </p>
            </div>
        </div>
        <div class="col-md-12" style="margin-bottom: -10px;">
            <p class="text-center mobfootertext1">{{'homepage.Websiteupdated' | translate }}: {{text | date: "dd/MM/yyyy"}}
            </p>
        </div>
        
        <hr class="mobhrline">
        <div class="col-md-12" style="margin-bottom: -10px;">
            <p style=" font-size: 12px;" class="text-center mobfootertext">{{'homepage.footerContent' | translate }}</p>
        </div>

        <hr class="mobhrline">
        <div class="col-md-12" style="margin-bottom: -10px;">
            <p style=" font-size: 12px;" class="text-center mobfootertext">{{'homepage.footerContentTwo' | translate }}
            </p>
        </div>
    </div>
</div>