<!-- <app-header3>
</app-header3> -->

<div class="login-form" style="margin-top:100px">
    <h3 [ngClass]="{'h3a': step === 1, 'h3b' : step === 2,'h3c' : step === 3 }">{{'welcome.login' | translate}}</h3>
    <form action="">
        <div class="form-group">
            <label for="" [ngClass]="{'label1': step === 1, 'label2' : step === 2,'label3' : step === 3 }">{{'welcome.email' | translate}}</label>
        </div>
        <input type="email" maxlength="75" placeholder="{{'welcome.your_email' | translate}}" class="input-box" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [ngClass]="{'label1': step === 1, 'label2' : step === 2,'label3' : step === 3 }" />

        <div class="form-group">
            <label for="" [ngClass]="{'label1': step === 1, 'label2' : step === 2,'label3' : step === 3 }">{{'welcome.password' | translate}}</label>
        </div>
        <input type="password" placeholder="{{'welcome.your_psw' | translate}}" class="input-box" [ngClass]="{'label1': step === 1, 'label2' : step === 2,'label3' : step === 3 }" />

        <div id="b1">
            <h6 class="alignleft" [ngClass]="{'label1': step === 1, 'label2' : step === 2,'label3' : step === 3 }"><span><input type="checkbox"></span>{{'welcome.remember' | translate}}</h6>
            <h6 class="alignright" [ngClass]="{'label1': step === 1, 'label2' : step === 2,'label3' : step === 3 }"> <u><a><span >{{'welcome.fotgot_psw' | translate}}</span></a></u></h6>
        </div>
        <button type="button" class="login-btn" (click)="login()" [ngClass]="{'label1': step === 1, 'label2' : step === 2,'label3' : step === 3 }">{{'welcome.login' | translate}}</button>

    </form>
</div>