@media only screen and (min-width:580px) {
    #map-area{
      margin-left: auto;
      margin-right: auto;
      /* padding-left: 8px; */
      display: block;
      height: 600px;
      width: 75%;
  }
  .div2{
    text-align: center;
    /* border-radius: 10px; */
    border:1px solid #295583;
    margin-top: 0px;
    margin-left:9%;
    box-shadow: 1px 5px 2px -2px rgb(0 0 0 / 20%), 1px 5px 2px 1px rgb(0 0 0 / 14%);
  }
  }
  
  @media (max-width: 576px) {
    #map-area{
      
      margin-left: auto;
      margin-right: auto;
      margin-top:-8%;
      /* padding-left: 8px; */
      display: block;
      height: 600px;
      width: 101%;
  }
  .div2{
    text-align: center;
    /* border-radius: 10px; */
    border:1px solid #295583;
    margin-top: 0px;
    /* margin-left:9%; */
    box-shadow: 1px 5px 2px -2px rgb(0 0 0 / 20%), 1px 5px 2px 1px rgb(0 0 0 / 14%);
  }
  }
  
  .selected
  {
      stroke: red;
      stroke-width: 1;
  }
  
  .d3-tip {
      line-height: 1;
      font-weight: bold;
      padding: 12px;
      background: #295583;
      color: #fff;
      border-radius: 2px;
      align-self: auto;   
  
    }
    
    /* Creates a small triangle extender for the tooltip */
   /* .d3-tip:after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      line-height: 1;
      width: 100%;
      color: rgba(0, 0, 0, 0.8);
      content: "\25BC";
      position: absolute;
      text-align: center;
    }*/
    /* Style northward tooltips differently */
    /* .d3-tip.n:after {
      margin: -1px 0 0 0;
      top: 100%;
      left: 0;
    }  */
    /* div.d3-tip {   
      position: absolute;         
  } */
   
  .content {
    margin-top:auto;
    margin-bottom:auto;
    text-align:center;
  }
  
  
  
  .mt25{
    margin-top:25px !important;
  }
  
  .mb30{
    margin-bottom:33px !important;
  }
  .country{
    cursor: url("/assets/img/pin.png"), auto;
  }