@media only screen and (min-width:576px) {
    .orgtext {
        font-family: 'Rubik' !important;
    }
}

@media only screen and (max-width:576px) {
    .panel{
        padding-top: 120px
    }
    .orgtext {
        font-family: 'Rubik' !important;
    }
    .headingimgmob {
        display: block !important;
    }
    .headingimg {
        display: none !important;
    }
    .page-section {
        margin-top: 90px;
        margin-left: -20px;
        font-family: 'Rubik' !important;
    }
    #content {
        float: right;
        width: 90%;
        margin-top: 40px;
    }
    .Heading {
        font-size: 20px;
        font-weight: 1000;
        margin-top: -120px;
    }
}
.Heading {
    font-size: 24px;
    font-weight: 1000;
}
.hrdash {
    border-top: 1px dashed;
}
.panel {
    padding-top: -70px;
}
.scrollContainer div.panel {
    overflow: hidden;
    padding-right: 30px;
}
.headingimgmob {
    display: none;
}
img {
    width: 100%;
}
.panel1 {
    padding-top: 20px
}
@media only screen and (min-width:577px) and (max-width:768px) {
    #content {
        float: right;
        width: 90%;
        margin-top: 50px;
    }
}
@media only screen and (min-width:993px) and (max-width:1200px) {
    #content {
        float: right;
        width: 97%;
        margin-top: 50px;
    }
}
@media only screen and (min-width:1201px) {
    #content {
        float: right;
        width: 97%;
        margin-top: 90px;
    }
    .Heading {
        font-size: 24px;
        font-weight: 1000;
    }
    img{
        padding-left: 120px;
    }
}

  