<div class="page-section">
<div id="content">
  <div class="scrollContainer">
    <div class="panel mt-2" id="gallery">
      <p class="Heading">{{'aboutUs.OrganizationalStructure' | translate}}</p>
      <p class="fontS orgtext">{{'aboutUs.OrganizationalText1' | translate}}</p>
      <div class="text-center orgimg" style="display: inline-block">
          <img class="headingimg" src="assets/img/AboutUs/aboutImgMob2.png" alt="TeleMANAS Organizational Structure" />
          <img class="headingimgmob" src="assets/img/AboutUs/aboutImgMob2.png" alt="TeleMANAS Organizational Structure" />
      </div>
  </div>
  <hr>
  <div class="panel panel1 mt-2" id="contact">
      <p class="Headings">{{'aboutUs.NationalText' | translate}}</p>
      <ul class="a">
          <li class="fontS">{{'aboutUs.NationalBullet1' | translate}}</li>
          <hr class="hrdash">
          <li class="fontS">{{'aboutUs.NationalBullet2' | translate}}</li>
          <hr class="hrdash">
          <li class="fontS">{{'aboutUs.NationalBullet3' | translate}}</li>
          <hr class="hrdash">
          <li class="fontS">{{'aboutUs.NationalBullet4' | translate}}</li>
      </ul>
  </div>
  </div>
</div>
</div>